# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [12]:
from bs4 import BeautifulSoup
from selenium.webdriver import Chrome
from selenium.webdriver.support.ui import Select
import pandas as pd
from time import sleep

driver = Chrome('../chromedriver.exe')
driver.get('http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx')
sleep(2)

loc_selection = Select(driver.find_element_by_id('ctl05_ddlSite'))
loc_selection.select_by_value('11')

year_selection = Select(driver.find_element_by_id('ctl05_ddlYear'))
year_selection.select_by_value('2018')

driver.find_element_by_id('ctl05_btnQuery').click()
sleep(2)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')
table = soup.find('table', class_='TABLE_G')
data = table.tbody.find_all('tr')[1:]

count = 0
date_dict = {}
for row in data[:8]:
    vals = row.find_all('td')
    if count == 0:
        target = vals[0].text
        date_dict[vals[2].text] = vals[3].text
        count += 1
    else:
        date_dict[vals[0].text] = vals[1].text
        count += 1

df = pd.DataFrame({target: date_dict})     

driver.quit()

In [13]:
df

          SO2
2018/01  1.80
2018/02  1.90
2018/03  2.20
2018/04  2.30
2018/05  3.10
2018/06  2.70
2018/07  2.20
2018/08  2.40

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [ ]:
'''
Your Code
'''